{
  "printWidth": 120,
  "proseWrap": "never",
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "auto",
  "arrowParens": "always"
}
